<head>

   <!-- Preloader -->
  <link rel="stylesheet" href="../../assets/css/preloader.css" type="text/css" media="screen, print"/>

  <!-- Icon Font-->
  <link rel="stylesheet" href="../../assets/style.css">
  <link rel="stylesheet" href="../../assets/css/owl.carousel.css">
  <link rel="stylesheet" href="../../assets/css/owl.theme.default.css">
  <!-- Animate CSS-->
  <link rel="stylesheet" href="../../assets/css/animate.css">

  <!-- Bootstrap -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">



  <!-- Style -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- Responsive CSS -->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  
</head>
                <!-- Preloader -->
                <div id="preloader">
                    <div id="status">&nbsp;</div>
                </div>

 <header id="HOME" style="background-position: 50% -125px;">
                <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px; background-color:white;">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" href="/board/index"><img src="../../assets/logo.png" alt=""></a>
	                </div>

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="/board/index">내 프로필</a></li>
	                    <li><a href="/board/write">게시글 쓰기</a></li>
	                    <li><a href="/board/mboard">전체 게시글</a></li>
	                    <li><a href="/users/log_out">로그아웃</a></li>
                      </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav>
</header>
 
    <div style="margin-top: 80px;" >
        
	  <center>
	  <!--<div style=" width:90%; ; margin-top:80px; margin-bottom:50px;">-->
	  <div class="container" id="dddd">
	   <div class="row " >
	    <div class="col-md-12 col-xs-12 text-center"  id="pc1">
    	 <!--<section class="header parallax home-parallax page" id="fun_facts" style="background-position: 50% -150px;">	-->
    		           
            		    <div class="container">
        	                <div class="row">
        	                    <div class="col-md-12 text-center" style="margin-top: 10px;">
        	                    	    <!--<img src="../../assets/posticon.png" style="height: 70px; margin-bottom: -20px;">  -->
        	                            <h1>"<%= @write.board_title %>"</h1>                      
        	                    </div>
        	                </div>
        	            </div>
	            
	            <!--<div class="container">-->
	            <!--    <div class="row">-->
	                   
	            <!--피씨화면-->
	                  <div class="container col-md-12" style="height: 235px; margin-top: 15px; background: #fff6c6;" id="pc"> 
	                    <div class=' col-md-6 col-sm-12 col-xs-12' style="align:center">
	                      
         
                            <div style="float:left; margin-top: 70px; width: 40%" >
                             
                                <div class="imac2 ">
                          
                                    <%if User.find(@write.user_id).images.present? %>
                                       <img src="<%= User.find(@write.user_id).images %>" width="180px" height="180px" class="img-circle" id="img-circle2" style="margin-left: 20px">
                                    <% else %>
                                       <img src="/../assets/avatar5.png" width="180px" height="180px" class="img-circle " style="margin-left: 20px " display="block" id="img-circle" >
                                    <%end%> 
                             
                           
                                    
                                                                     
                                </div>  
                            </div>
                      
                          <!--<img src="<%= User.find(@write.user_id).images %>" style="width:222px; margin-left: 30px">-->
                           
                                
                                            
                        
                            <div class="col-md-6 col-xs-12 wow fadeInRight animated" style="margin-top:70px; margin-left:50px; " id="kk">
                                <p>닉네임 : <%= User.find(@write.user_id).nickname %></p>
                                <p>평균 나이 : <%= @write.age %></p>
                                <p>학교 : <%= @school %></p>
                                 <div class="form-group">
                                  <p>성별:  <%= @sex == true ? "남자" : "여자" %></p> 
                                 </div>  
                            </div>
                        </div>
                     
                        <div class="col-md-6 col-xs-12 wow fadeInLeft animated" >
                        
	                        <div style="margin-top: 40px">
	                            <div class="col-xs-12 col-md-12 ">
    	                            <div class="row">
        	                            <div class="col-xs-9 col-md-7 "> 
        	                            
        	                                <div class="col-md-7 ">
            	                                <div class="single_count col-xs-12 " style="margin-left:50px" id="kkk">
                                                    <!--<i class="icon-trophy">-->
                                                    <p style="color: black;">원하는 인원 수</p>
                                                    <h3 style="color: black;"><%= @write.number %>명</h3>
            	                                </div>                     
        	                                </div>
        	                             </div>     

    	                            
        	                      <div class="col-md-4 col-xs-12">
    	                          <button type="button" data-toggle = "modal" data-target = "#myModal" class="btn btn-default submit-btn form_submit" style="border-style:hidden; margin-top: 70px; width: 150px">미팅 신청하기</button>
    	                           
                                  </div>
                                 </div>
                                </div>
	                        </div>
	                    </div>	                   
	                  </div>
	           <!--모바일화면-->
	                
                      <div class="container col-md-12" style="height: 700px; margin-top: 15px; background: #fff6c6;" id="mobile"> 
	                    <div class=' col-md-6 col-sm-12 col-xs-12' style="align:center; margin-top: 70px">
	                      
         
                            
                             
                                
                          
                                    <%if User.find(@write.user_id).images.present? %>
                                       <img src="<%= User.find(@write.user_id).images %>" width="180px" height="180px" class="img-circle  " id="img-circle2">
                                    <% else %>
                                       <img src="/../assets/avatar5.png" width="180px" height="180px" class="img-circle "  display="block" id="img-circle" >
                                    <%end%> 
                             
                           
                                    
                                                                     
                             
                        
                      
                          <!--<img src="<%= User.find(@write.user_id).images %>" style="width:222px; margin-left: 30px">-->
                           
                                
                                            
                        
                            <div class="col-md-6 col-xs-12 wow fadeInRight animated" style="margin-top:70px; " id="kk">
                                <p>닉네임 : <%= User.find(@write.user_id).nickname %></p>
                                <p>평균 나이 : <%= @write.age %></p>
                                <p>학교 : <%= @school %></p>
                                 <div class="form-group">
                                  <p>성별:  <%= @sex == true ? "남자" : "여자" %></p> 
                                 </div>  
                            </div>
                        </div>
                     
                        <div class="col-md-6 col-xs-12 wow fadeInLeft animated" >
                        
	                        <div style="margin-top: 40px">
	                            <div class="col-xs-12 col-md-12 ">
    	                            <div class="row">
    	                                <div class="col-xs-2"></div>
        	                            <div class="col-xs-8 " style="margin-left:15px"> 
        	                          
        	                                
            	                                <div class="single_count" style="margin-right: 25px"  id="kkk">
                                                    <!--<i class="icon-trophy">-->
                                                    <p style="color: black;">원하는 인원 수</p>
                                                    <h3 style="color: black;"><%= @write.number %>명</h3>
            	                                </div>                     
        	                              
        	                             </div>
        	                             <div class="col-xs-2">
                                    </div>
        	                            
        	                      <div class="col-md-4 col-xs-12">
    	                          <button type="button" data-toggle = "modal" data-target = "#myModal" class="btn btn-default submit-btn form_submit" style="border-style:hidden; margin-top: 70px; width: 150px">미팅 신청하기</button>
    	                           
                                  </div>
                                 </div>
                                </div>
	                        </div>
	                    </div>
	                   
	                  </div>	                
	                
	     
	     
	       
	                  
                	
                	<div class="container" id="mobile1" > 
                    <div class="row row-centered">
                        <div class="col-md-11 col-centered col-xs-12" style="margin-top:30px; margin: auto; float:center">
                                    <div class="panel panel-default " style="margin-top:50px;">
                                     <div class="panel-heading" style="background:  #e95b5b; color:#2f2e2d;"><p style="font-weight:bold;">우리 팀 소개</p></div>
                                          <div class="panel-body"><%= @write.board_content %></div>
                                    </div>
                                    
                                    <div class="panel panel-default">
                                      <div class="panel-heading" style="background:  #e95b5b; color:#2f2e2d;"><p style="font-weight:bold;">희망하는 팀</p></div>
                                      <div class="panel-body"><%= @write.needs_team %></div>
                                    </div>
                    
                      </div> 
                      <br>
                      <br>
                
                    <center>
                     <a href="/board/mboard"><div style="width:30%; min-width: 300px; margin-top: 0px; margin-bottom: 20px; color:black;">전체 게시글 화면으로 돌아가기<span style="color:#f63a55; font-weight:bold;"> > </span></div></a>
                    </center>
                          </div>
                    </div>
                 
                 

             
    <!--</div>-->
         </div>  
       </div>
      </div>  
    </center>
   </div>
     </div>

<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
   
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <form class="form-horizontal" action="/board/apply" method="POST">
            <input type = "hidden" value = "<%= @write.id %>" name="id_of_posts">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">미팅 요청하기</h4>
                    </div>
                    
                    <div class="modal-body">
                        
                         <div class="form-group">
                            <label for="message-text" class="control-label">우리팀 학교,나이,인원수,</label>
                            <textarea class="form-control" id="message-text" rows="1" name="message2"></textarea>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="message-text" class="control-label">우리팀 소개, 자랑:</label>
                            <textarea class="form-control" id="message-text" rows="4" name="message"></textarea>
                        <p class="text-warning"><small>상대방이 요청을 승낙하면 서로의 카카오톡 아이디를 볼 수 있습니다.</small></p>
                        </div>
                        
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-danger">보내기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

                
                
<!-- =========================
     SCRIPTS 
============================== -->


    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.nicescroll.js"></script>
    <script src="../../../assets/js/owl.carousel.js"></script>
    <script src="../../../assets/js/wow.js"></script>
    <script src="../../../assets/js/script.js"></script>
    
    
<script>


<script type="text/javascript">
$(document).ready(function(){
	$(".btn").click(function(){
		$("#myModal").modal('show');
	});
});
</script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
   
   
    
</script>
